<div class="container">
	<div class="row" id="profile-details">
		<div class="col-lg-7 col-md-6 col-sm-5" id="user-description">
			<h2 id="user-name"><%= @user.name %></h2>
			<h4>Joined: <%= @user.created_at.strftime("%B %Y") %></h4>
		</div>

		<div class="col-sm-1">
			<%= link_to edit_user_path(current_user), class: 'btn btn-success' do %>
			  <i class="glyphicon glyphicon-edit"></i>
			<% end %>
		</div>
	</div>
