<!-- users#splash -->
<body>
  <div class="wrapper">
    <div class="text-center">
       <%= button_to "Sign Up", new_user_path, class: "btn btn-default", method: "get" %> 
    </div>
  </div>
</body>