
.navbar-custom {
	background-color: #075572;
	border-radius: 0 !important;
	opacity: .80;
}

.navbar { 
	font-family: 'Helvetica'; 
	font-size: 15px;
}

.navbar-custom a {
	color: white;
}

#home {
	font-family: 'Londrina Outline', cursive;
	font-size: 24px;
}


.wrapper {
	height: 100vh;
	background: url('http://i.imgur.com/MvUMjgw.jpg') no-repeat   center center fixed;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
}

.btn {
	background-color: #075572 !important;
	opacity: .80;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#303030", endColorstr="#111111");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#303030), to(#111111));
	background-image: -moz-linear-gradient(top, #303030, #111111);
	background-image: -ms-linear-gradient(top, #303030, #111111);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #303030), color-stop(100%, #111111));
	background-image: -webkit-linear-gradient(top, #303030, #111111);
	background-image: -o-linear-gradient(top, #303030, #111111);
	background-image: linear-gradient(#303030, #111111);
	border-color: #111111 #111111 hsl(360, 0%, 4%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
	-webkit-font-smoothing: antialiased;
}

#signupgroup {
	margin-top: 15%;
}

#loginform {
	margin-top: 10%;
}

#sign-up-form {
	margin-top: 8%;
}

.splashcontent {
	clear: right;
	margin-top: -40px;
	text-align: left;
	margin-left: 28px;
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	color: white;
	font-weight: bold;
	line-height: 200%;
}

#new-post-form {
	margin-top: 5%;
}

#or {
	color: #075572;
	font-family: 'Arial';
	font-size: 20px;
	margin-bottom: -20px;
	margin-top: -15px;
}
#splashhead {
	margin-left: -10px;
	margin-top: 0px;
	font-size: 68px;
	font-family: 'Londrina Outline', cursive;
}

#splashlog {
	padding-top: 20px;
	padding-right: 20px;
}

#usershow {
	padding-left: 90px;
	padding-top: 60px;
}

#pastrides {
	padding-left: 75px;
}



