<div class="container">
<h1 class="text-center">Upcoming Rides</h1>
<br>
  <% @rides.each do |ride| %>
    <div class="row col-sm-6 col-sm-offset-3">
      <div class='well well-sm text-center'><%= link_to "#{ride.title}", ride_path(ride.id), method: "get" %></div>
    </div>
  <% end %>
  <% if @rides.empty? %>
  <h1 class="text-center">Search yielded no results.  Try again in a different area.</h1>
  <% end %>
</div>

<%= will_paginate @rides %>
